.cabecera {
    background-color: lightblue;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.sec1 {
    margin: 10px;
    padding: 10px;
    border: 1px solid black
}
.sec1 p{
    text-align: right;
    font-size: 16px;
    line-height: 1.5;


}

.art1 {
    background-color: #f9f9f9;
    margin-top: 10px;
    padding: 10px;
    border-left: 4px solid #007BFF;
}
.art1 p{
    text-align: left;
    font-size: 16px;
    line-height: 1.5;


}

.img1{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.img1 p{
    align-self: flex-start;
    margin: 20px;
}

.img1 img{
    width: 200px;
    height: 250px;
}

.contenedorimg {
    text-align: center;
}
.contenedorimg img{
    width: 200px;
    height: 200px;
    margin: 30px;
}

.contenedor {
  display: flex;
  flex-direction: row;
}
.contenedor1 {
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  flex: 1;
  height: 200px;
  color:rgb(85, 42, 165);
}
.contenedor2 {
  border: 2px solid black ;
  padding: 10px;
  margin: 10px;
  flex: 1;
  text-align: right;
  color: crimson;
}
.listas{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 10px;
    background-color: white;
    
    
}
.prueba{
    flex: 1;
    background-color: green;
    border: solid black;
    margin-right: 20px;

}
.prueba2{
    background-color: yellowgreen;
    border: solid black;
    flex: 1;
}
.prueba h2{
    text-align: center;
    flex: 1;
}
.listas ul{
    padding: 20px;
    list-style: none;
    

}
.listas ol{
    list-style: none;
    padding: 20px;
    
}
.tabla {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 99%;
    border-collapse: collapse;
      
}

.tabla th, tr, td{
    border: solid black;
    
}

.artlista{
    background-color:blueviolet;
    margin: 10px;
    padding: 10px;
    color: white;
    
}
.artlista p{
    font-size: large;
    color: black;
}
.divlista{
    background-color:rgb(43, 159, 226);
    margin: 10px;
    padding: 10px;
    color: white;
    
}
.divlista p{
    font-size: large;
    color: black;
}
.footer{
   
    color: black;
    background-color: aquamarine;
    margin: 10px;
    padding: 10px;
    
    
}
.footer ul{
    text-align: center;
    list-style: none;
    display: flex;
}
.footer li{
    margin-right: 2%;

}
 
.footer h2{
    text-align: center;
    margin-top: 100PX;
}

.form{
    display: flex;
    flex-direction: row;
    flex: 1;
}
.dat{
    background-color: chartreuse;
    margin: 10px;
    padding: 10px;
    color: white;
    border: solid black;

}

.form article{
    background-color: chartreuse;
    margin: 10px;
    padding: 10px;
    border: solid black;
    flex: 1;
    
}